.env
.data.*
/hoonc
test-leader
test-follower
.nockchain-identity
.nockchain-identity.peerid
target
assets/*.jam
!crates/nockapp/test-jams
out.jam
.direnv/bin/nix-direnv-reload
.direnv
.nockchain_identity
.nockchain_identity.peerid
Cargo.lock
flake.lock
