.env
.data.*
/hoonc
test-leader
test-follower
.nockchain_identity
.nockchain_identity.peerid
target
assets/*.jam
!crates/nockapp/test-jams
out.jam
.direnv/bin/nix-direnv-reload
.direnv
.nockchain_identity
.nockchain_identity.peerid
*.lock
